<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container" id="tasks">
      <h1>Welcome to your To Do List!!!</h1>
      <h3>Please enter the things you need to do below!</h3>
      <div class="task-body">
        <div class="form-group">
          <input class="form-control" placeholder="Task Name" v-model="task.name">
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Task Descr" v-model="task.desc"></textarea>
        </div>
        <div class="form-group">
          <input type="date" class="form-control" placeholder="Deadline" v-model="task.deadline">
        </div>
        <button class="btn btn-primary" v-on="click: addTask()">Submit</button>
      </div>
      <div class="list-group">
          <a href="#" class="list-group-item" v-repeat="task in tasks">
            <h4 class="list-group-item-text">
              <i class="glyphicon glyphicon-bullhorn"></i>
              {{ task.name }}
            </h4>
            <h5>
              <i class="glyphicon glyphicon-calendar" v-if="task.deadline"></i>
              {{ task.deadline }}
            </h5>
            <p class="list-group-item-text" v-if="task.desc">{{ task.desc }}</p>
          </a>
      </div>
  </div>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="app.js"></script>
  <script src="vue.js"></script>
  </body>
</html>
