<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List!</title>
        <script src="vue.js"></script>
        <!--<style>
        .center {
          margin: auto;
          width: 60%;
          border: 3px solid;
          padding: 10px;
          text-align: center;
        }
        body{
          background-color: lightblue;
          color: black;
        }
        h1{
          background-color: black;
          color: lightblue;
          text-align: center;
        }
        h2{
          background-color: black;
          color: lightblue;
          text-align: center;
        }
      </style> -->
      <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <h1>Welcome to your Todo List!</h1>
    <h2>To add new tasks, please fill in the details below, and click on add task!</h2>
  </head>
  <body>
    <div  class="container" id="app">
      <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Add a Task</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
        Task Name: <input class="form-control" placeholder="enter the name" v-model="task.taskName"></br>
      </div>
        <!--Task Description: <input placeholder="enter the description" v-model="task.taskDesc"></br>
        Task Deadline: <input placeholder="enter the deadline" v-model="task.deadline"></br>
        Remind me in: <button @click="alertOne" type='button'>One Second</button></br></br>
        <button @click="addTask" type='button'>Add Task!</button> </br></br> -->
      </div>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <a class="navbar-brand"><i class="glyphicon glyphicon-bullhorn"></i> Tasks To Be Done:</a>
          </div>
        </nav>
        <div class="col-sm-6">
      <div class="list-group">
        <li v-for="task in tasks">
          Name: {{ task.taskName }} </br> Description: {{ task.taskDesc }} </br> Deadline: {{ task.deadline }} </br></br></br>
      </li>
    </div>
      </div>
    </div>
    </div>
</div>
<script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="tasks.js"></script>
  </body>
</html>
